* {
  margin: 0;
  padding: 0;
}

table {
  text-align: left;

  /* <table>の中のセルが境界線を共有するか分離するか設定する */
  /* collapse=共有 separate=分離 */
  border-collapse: collapse;
}

main {
  display: flex;
  justify-content: center;
}

th {
  font-weight: normal;
  border: 1px solid #333333;
  box-sizing: border-box;
  padding: 10px;
}
