.screen {
  background-color: black;
  width: 1200px;
  height: 600px;
  overflow: hidden;
  position: relative;
}

.comment {
  color: white;
  font-size: 48px;

  /* ポジションを固定する */
  position: absolute;

  /* 文字の行間を調節する */
  line-height: 1;

  animation-name: lane0;
  animation-timing-function: linear;
  animation-duration: 10s;
  animation-fill-mode: forwards;
}

.comment2 {
  color: white;
  font-size: 48px;

  /* ポジションを固定する */
  position: absolute;

  /* 文字の行間を調節する */
  line-height: 1;

  animation-name: lane1;
  animation-timing-function: linear;
  animation-duration: 10s;
  animation-fill-mode: forwards;
}

.comment3 {
  color: white;
  font-size: 48px;

  /* ポジションを固定する */
  position: absolute;

  /* 文字の行間を調節する */
  line-height: 1;

  animation-name: lane2;
  animation-timing-function: linear;
  animation-duration: 10s;
  animation-fill-mode: forwards;
}

/* @keyframesは、アニメーション開始から終了するまでのアニメーションを指定する */
@keyframes lane0 {
  0% {
    transform: translate(1500px, 0);
  }
  100% {
    transform: translate(-1280px, 0);
  }
}

@keyframes lane1 {
  from {
    transform: translate(1500px, 50px);
  }
  to {
    transform: translate(-1280px, 50px);
  }
}

@keyframes lane2 {
  from {
    transform: translate(1500px, 100px);
  }
  to {
    transform: translate(-1280px, 100px);
  }
}
