* {
  margin: 0;
}

p {
  display: inline-block;
  background-color: aqua;

  position: relative;
  left: 100%;

  transition: all 15000ms 0s linear;
}

.p-right {
  background-color: burlywood;
  transform: translateX(-2000px);
}
