* {
  margin: 0;
}

.area {
  width: 100%;
  height: 100px;
}

p {
  display: inline;
  background-color: aqua;

  position: relative;
  left: 100%;
  top: 50px;

  transition: all 5000ms 0s linear;
}

.p-right {
  background-color: burlywood;
  /* transform: translateX(-1000px); */
  left: 0%;
}
